html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
    color: #141f29;
    background-color: #fafbf9;
}

p {
    line-height: 1.2em;
}

.container {
    display: flex;
}

.top-bar {
    color: #203f49;
    background-color: #4CB5F5;
    width: 100%;
    min-height: 30px;
    text-align: center;
}

.left-bar {
    background-color: #203f49;
    padding: 5px;
    max-width: 150px;
    min-width: 150px;
    position: relative;
}

.left-bar-footer {
    width: 90px;
    position: absolute;
    bottom: 0;
    margin: 5px;
    padding: 5px;

    color: #141f29;
    background: #4CB5F5;
}

.bottom-bar {
    background-color: #b3c100;
    width: 100%;
    clear: both;
}

.bottom-bar p {
    padding: 5px;
    font-size: small;
    text-align: center;
    font-style: oblique;
}

.content {
    color: #141f29;
    background-color: #fafbf9;
	padding: 5px;
    flex: 1;
}

.content p {
    margin: 10px 15px 10px 15px;
    font-size: medium;
    line-height: 1.4em;
    max-width: 600px;
    text-align: left;
}


.top-bar h1 {
	text-align: center;
	font-size: large;
	padding: 10px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    display: inline-block;
}

a {
    text-decoration: none;
}

a:link {
    color: black;
}
a:visited {
    color: black;
}
a:hover {
    color: white;
}

.left-bar a {
    text-decoration: none;
    line-height: 1.2em;
    font-family: Arial, sans-serif;

}

.left-bar a:link {
    color: #B7B8B6;
}
.left-bar a:visited {
    color: #B7B8B6;
}
.left-bar a:hover {
    color: white;
}

.logo {
    height: 15px;
    display: inline-block;
    text-align: center;
    margin: 10px 0px 0px 10px;
}

div.popup {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 150px;
    height: 100px;

    padding: 10px;
    border-radius: 15px;

    background: #4CB5F5;
    color: #203f49;

    line-height: 1.2em;
    font-family: Arial, sans-serif;
    font-weight: bold;

}

div.article-container {
    margin: 5px;
    padding: 10px;

    color: #fafbf9;
    background-color: #203f49;
    font-family: Arial, sans-serif;
    font-weight: bold;
}

div.article-container div {
    width: 150px;
    height: 100px;
    margin: 5px;
    vertical-align: bottom;

    padding: 10px;

    display: inline-block;

    background: #4CB5F5;
    color: #203f49;

    border: 2px solid #4CB5F5;
    transition: 0.5s;
}

div.article-container div:hover {
    border: 2px solid #fafbf9;
}